h1{
    color: orange;
    text-align: center;
}
.container{
    text-align: center;
    border: 1px solid green;
}
.item{
    list-style:none;
    border: 1px solid blue;
    padding: 10px; 
    margin: 10px;
    border-radius: 10px;
}
.item a{
    text-decoration: none;
    color: green;
}
.item.hover.a{
    color: white;
}
.item.hover{
    background-color: lightcyan;
}
